body {
    background-color: #13111a;
    font-family: 'Poppins', sans-serif;
    color: #34495e;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

p.lead {
    text-align: center;
    color: #6c757d;
    font-size: 1.25em;
    margin-bottom: 40px;
}

/* Use Flexbox for the container to ensure consistent sizing */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Space between items */
}

.service-item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure items are spaced out inside */
    height: 450px; /* Fixed height for all items */
    width: 100%; /* Adjust width for 3 items per row with some gap */
    box-sizing: border-box; /* Ensure padding and margin are considered in width */
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-item img {
    width: 150px; /* Fixed width for the image */
    height: 150px; /* Fixed height for the image */
    object-fit: contain; /* Ensures the image scales without distortion */
    display: block; /* Ensures the image is block level */
    margin: 0 auto; /* Centers the image horizontally */
}

.service-item h3 {
    font-size: 1.5em;
    color: black;
    margin: 15px 0;
    font-weight: 600;
}

.service-item p {
    font-size: 1em;
    color: black;
    padding: 0 20px 20px;
    flex-grow: 1; /* Ensures text content can grow to fill space */
}

/* Base button styles */
.custom-button {
    padding: 10px 20px; /* Button padding */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Font weight */
    text-transform: uppercase; /* Uppercase text */
    border: 2px solid transparent; /* Transparent border */
    border-radius: 8px; /* Rounded corners */
    background-color: #6f42c1; /* Button background color */
    color: white; /* Text color */
    cursor: pointer; /* Pointer on hover */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.custom-button:hover {
    background-color: #100340; /* Darker green on hover */
    color: #f0f0f0; /* Light text color on hover */
    /*border-color: #3e8e41;  Border color change on hover */
}

.custom-button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5); /* Green glow on focus */
}
